*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}   

.container{
    width: 80%;
    margin: auto;
    width: 80%;
}

nav{
    margin: 15px 0;
}

nav li{
    display: inline;
    text-transform: uppercase;
    color: rgb(192, 192, 192);
    padding-right: 10px;
}

nav li:hover{
    text-decoration: underline;
}

.logo img{
    height: 60px;
}

.banner{
    background-image: url(../img/banner.jpg);
    border-radius: 10px;
    height: 550px;
    margin-bottom: 20px;
}

.testobanner{
    color: white;
    position: absolute;
    bottom: 50px;
    padding-left: 50px;
    width: 550px;
}

header{
    position: relative
}

#testobannermaiuscolo{
    text-transform: uppercase;
    font-size: 20px;
}

#testotitolosecondario{
    display: block;
    color: rgb(192, 192, 192)
}

.corpo{
    margin: 25px 0;
}

main{
}

main .top{
    height: 60px;
}  

.bgc{
    background-color: cyan;

}
.col{
    float: left;
    margin: 10px 0;
    height: 180px;
}

.colx,
.colrx{
    width: 20%;
}

.colcx{
    width: 60%;
    padding: 0 10px;
}
 
.col div{
    height: 180px;
}

.piedipagina{
    text-align: center;
    margin-top: 20px;
    height: 10px;
}

#cuorerosso{
    color: red;
}